@model gerenciadorTarefa.Models.Usuario

@{
    ViewData["Title"] = "Delete";
}

<div class="form-group text-center">

    <h1 class="mb-5">Exclusão de cadastro</h1>
    <p class="mb-5">Todos os seus dados serão apagados do sistema Gerenciador de Tarefas, tem certeza disso?</p>

    <a asp-action="Edit" asp-controller="Usuarios" asp-route-id="@Model.Id" class="btn btn-secondary m-4 col-md-3 inputsLogin">Cancelar</a>
    <input type="submit" value="Excluir cadastro" class="btn btn-danger m-4 col-md-3 inputsLogin" onclick="return confirm('Tem certeza que deseja EXCLUIR suas informações?');" />
    <p class="text-center mb-5 fontPequena"><a href="/Home/Index">Voltar</a></p>
</div>
